.button-container {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 40%; /* Increase width for better alignment */
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Two buttons per row */
    grid-gap: 10px;
    justify-items: center; /* Center buttons */
    text-align: center;
    z-index: 999;
}
.button-container button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Make buttons take full width */
}
.button-container button:hover {
    background-color: #0056b3;
}

.slide-container {
    position: fixed;
    bottom: 20px;
    left: 70%;
    transform: translateX(-50%);
    width: 40%; /* Increase width for better alignment */
    display: box;
    grid-template-columns: repeat(3, 1fr); /* Two buttons per row */
    grid-gap: 10px;
    justify-items: center; /* Center buttons */
    text-align: center;
    z-index: 999;
    accent-color: white;
    color:white;

}

